@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  padding: 20px;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}
