.button {
  min-width: 120px;
  margin-top: 20px;
  cursor: pointer;
  padding: 14px 20px;
  border: 2px solid #020c1b;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3px;
  position: relative;
  color: #020c1b;
  transition: color 0.3s ease-in-out 0.2s;
  /* overflow: hidden; */
}

.button::after,
.button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Design 1 */
.button.design_1::after {
  bottom: 0px;
  right: 0px;
  background-color: #7410f744;
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom left;
  z-index: -1;
}

.button.design_1:hover::after {
  transform: rotateZ(0deg);
}

/* Swipe Animation */
.button.swipe::after {
  bottom: 0px;
  right: 0px;
  background-color: #020c1b;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: -1;
}
.button.swipe:hover {
  color: white;
}
.button.swipe:hover::after {
  transform: translateX(0%);
}

/* animation 3 */
.button.anim_3:hover {
  color: white;
}
.button.anim_3::after,
.button.anim_3::before {
  top: 0px;
  left: 0px;
  background-color: #020c1b;
  transform: rotateX(90deg);
  transition: transform 0.6s ease-out;
  z-index: -1;
}
.button.anim_3:hover::after {
  transform: rotateX(0deg);
}
.button.anim_3::before {
  transform: rotateY(90deg);
}
.button.anim_3:hover::before {
  transform: rotateY(0deg);
}

/* Swipe down with text */
.button.swipe-with-text {
  position: relative;
}

.button.swipe-with-text:after {
  content: 'You did it';
  background-color: #7410f7;
  color: white;
  left: 0px;
  top: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.button.swipe-with-text:hover::after {
  top: 0px;
}

/* Angle Swipe */

.button.angle-swipe {
  background-color: white;
  transition: all 0.7s ease-in-out;
}
.button.angle-swipe:hover {
  background-color: #7410f7;
  color: white;
}

.button.angle-swipe:after {
  content: '';
  background-color: #020c1b;
  width: 150%;
  height: 30px;
  left: 0px;
  bottom: 0;
  transform: rotate(45deg) translate(-25%, 340%);
  transition: all 0.6s ease-in-out;
  transform-origin: center;
}

.button.angle-swipe:hover:after {
  background-color: #020c1b;
  transform: rotate(45deg) translate(-25%, -220%);
}

/* Design 6 */
.button.des_6 {
  color: #eee;
}
.button.des_6::after {
  content: 'Hover on me';
  background-color: #020c1b;
  color: white;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0;
  transition: all 0.6s ease-in-out;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.des_6:hover::after {
  transform: translate(100%, -100%);
}
.button.des_6::before {
  content: 'Hover on me';
  background-color: #020c1b;
  color: white;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0;
  transition: all 0.6s ease-in-out;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-100%, 100%);
}

.button.des_6:hover::before {
  transform: translate(0, 0);
}

/* Design 7 */
.button.des_7 {
  color: #020c1b;
  perspective: 500px;
}
.button.des_7::after {
  content: 'Hover on me';
  left: 0px;
  bottom: 0;
  transition: all 0.6s ease-in-out;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateZ(800px);
}

.button.des_7:hover::after {
  background-color: #020c1b;
  color: white;
  transform: translateZ(0px);
  width: 100%;
  height: 100%;
}

/* Design 8 */
.button.des_8 {
  background-color: transparent;
}
.button.des_8:hover {
  color: white;
}
.button.des_8::before {
  content: '';
  left: 0px;
  top: 0;
  width: 100%;
  height: 0%;
  background-color: #020c1b;
  transition: all 0.5s;
  border-radius: 0 0 50% 50%;
  z-index: -1;
}

.button.des_8:hover::before {
  height: 200%;
}

/* Design 9 */
.button.des_9 {
  color: #020c1b;
  background-color: transparent;
}
.button.des_9:hover {
  color: white;
}
.button.des_9::before {
  content: 'Hover on me';
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #020c1b;
  transition: all 0.5s;
  transform: rotateX(270deg);
  transform-origin: top;
}

.button.des_9:hover::before {
  transform: rotateX(0deg);
}
.button.des_9::after {
  content: 'Hover on me';
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #7410f7;
  color: white;
  transform: rotateX(270deg);
  transition: all 0.5s;
  transition-delay: 0.5s;
  transform-origin: top;
}

.button.des_9:hover::after {
  transform: rotateX(0deg);
}

/* Design 10 */
.button.des_10 {
  color: transparent;
  background-color: transparent;
}

.button.des_10::before,
.button.des_10::after {
  content: 'Button';
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #020c1b;
  color: white;
  transition: all 0.5s;
  opacity: 1;
}
.button.des_10::after {
  opacity: 0;
  left: -100%;
  transform: translateX(0%) scale(0);
}

.button.des_10:hover::before {
  opacity: 1;
  transform: translateX(100%) scale(0) rotateY(360deg);
}

.button.des_10:hover::after {
  opacity: 1;
  left: 0%;
  transform: translateX(0%) scale(1) rotateY(360deg);
}

/* Design 11 */
.button.des_11 {
  position: relative;
  border-color: transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  transition: all 0.5s;
}

.button.des_11::after,
.button.des_11::before {
  top: 50%;
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #020c1b;
  transition: all 0.3s;
  z-index: -1;
  opacity: 0;
}

.button.des_11::after {
  box-shadow: -50px 0 0 #7410f7;
  left: 0;
  transform: translateY(-50%) translateX(-50px);
}

.button.des_11::before {
  box-shadow: 50px 0 0 #7410f7;
  right: 0;
  transform: translateY(-50%) translateX(50px);
}

.button.des_11:hover::after {
  left: 50%;
  box-shadow: 30px 0 0 #020c1b;
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}

.button.des_11:hover::before {
  right: 50%;
  box-shadow: -30px 0 0 #020c1b;
  transform: translateY(-50%) translateX(50%);
  opacity: 1;
}

.button.des_11 span {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #020c1b;
  border-radius: 5px;
  transform: scale(0);
  transition: all 0.3s ease-out 0.3s;
  z-index: -1;
}

.button.des_11:hover {
  color: white;
}
.button.des_11:hover span {
  transform: scale(1);
}
